# Pump It Up Challenge - Predictions

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import re
import datetime as dt
from scripts import pumpitup

from scipy import stats

from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import KFold

sns.set_style("white")
sns.set_context("talk")

%matplotlib inline

In [17]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [18]:
import warnings
warnings.filterwarnings('ignore')

In [19]:
pd.options.display.max_columns = 50

# Training Data

## Data

In [23]:
train_data = pd.read_csv('data/training_set.csv')

## Labels

In [6]:
train_labels = pd.read_csv('data/training_labels.csv')

In [7]:
train_labels.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

## Cleaning

In [24]:
train_data, modifiers = pumpitup.cleanitup(train_data)

In [26]:
le = preprocessing.LabelEncoder()

columns = train_data.columns
bin_lengths = {}

for column in columns:
    series = train_data[column]
    if series.dtype == 'object':
        bin_lengths[column] = pumpitup.binary_count(series)
        encoded = pumpitup.binary_encode(series, le)[1]
        train_data = pd.concat([train_data, encoded], axis=1)
        train_data.drop(column, axis=1, inplace=True)

In [27]:
columns = train_data.columns
bin_lengths = {}

for column in columns:
    series = train_data[column]
    if series.dtype == 'object':
        #bin_lengths[column] = pumpitup.binary_count(series)
        encoded = le.fit_transform(series)
        #train_data = pd.concat([train_data, encoded], axis=1)
        train_data[column] = encoded

In [28]:
train_data.head()

,funder,gps_height,installer,longitude,latitude,wpt_name,basin,region,lga,population,public_meeting,permit,construction_year,extraction_type,extraction_type_class,management,management_group,payment_type,water_quality,quantity,source,source_class,waterpoint_type,year_recorded,month_recorded,operation_years
0,19,1390,15,34.938093,-9.856322,4,1,3,0,109,1,0,1999,1,0,7,4,0,6,1,7,0,1,2011,3,12
1,19,1399,15,34.698766,-2.147466,1,4,9,0,280,1,1,2010,1,0,11,4,2,6,2,4,1,1,2013,3,3
2,19,686,15,37.460664,-3.821329,2,5,8,0,250,1,1,2009,1,0,7,4,5,6,1,0,1,2,2013,2,4
3,15,263,15,38.486161,-11.155298,1,7,12,0,58,1,1,1986,11,5,7,4,2,6,0,3,0,2,2013,1,27
4,19,1328,15,31.130847,-1.825359,6,4,4,0,316,1,1,2003,1,0,1,1,2,6,3,4,1,1,2011,7,8

In [29]:
train_labels = pd.read_csv('data/training_labels.csv')

In [30]:
train_labels.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [26]:
predictions, clf = pumpitup.run_forest(train_data, train_labels)

In [43]:
pumpitup.classification_rate(train_labels['status_group'], predictions)

NameError: name 'predictions' is not defined

Train actual classifier:

In [39]:
clf = RandomForestClassifier(n_estimators=1000, n_jobs=3, max_features=10, min_samples_leaf=1)

In [42]:
clf.fit(train_data, train_labels['status_group'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=10, max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=3,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

One hot encode month of date recorded.

# Prediction Time

In [35]:
test_data = pd.read_csv('data/test_set.csv')

In [36]:
test_data = pumpitup.cleantestup(test_data, modifiers)

columns = test_data.columns

for column in columns:
    series = test_data[column]
    if series.dtype == 'object':             
        encoded = pumpitup.binary_encode(series, le, binary_lengths=bin_lengths[column])[1]
        test_data = pd.concat([test_data, encoded], axis=1)
        test_data.drop(column, axis=1, inplace=True)

In [40]:
columns = test_data.columns
bin_lengths = {}

for column in columns:
    series = test_data[column]
    if series.dtype == 'object':
        #bin_lengths[column] = pumpitup.binary_count(series)
        encoded = le.fit_transform(series)
        #train_data = pd.concat([train_data, encoded], axis=1)
        test_data[column] = encoded

test_data.drop('year_recorded', axis=1, inplace=True)

In [45]:
submission_predictions = clf.predict(test_data)

In [46]:
submission = pd.read_csv('data/SubmissionFormat.csv')

In [47]:
submission.status_group = submission_predictions

In [48]:
submission.to_csv('submissions/submission11.csv', index=False)

In [52]:
train_data['funder'].unique()

array([20, 16,  5, 13,  1, 19,  8,  7, 17, 12,  3,  9, 11,  4, 15,  6, 14,
       18,  0,  2, 10])